﻿<?php (!defined('CreativeX')) ? exit() : ""; ?>
<tr>
	<td>{@$Spermision->id@}</td>
	<td>{@$Spermision->permision_list@}</td>
	<td>{@$Spermision->create_by@}</td>
	<td>{@$Spermision->create_at@}</td>
	<td>{@$Spermision->modified_by@}</td>
	<td>{@$Spermision->modified_at@}</td>

	<td>
      <a class="btn btn-info" href="{@$App::LIVE_URL_ADMIN@}Spermision/edit/{@$Spermision->id@}">{@$Language->t('edit_button')@}</a>
      <a class="btn btn-danger" onclick="actionDelete('Spermision/delete',{@$Spermision->id@});">{@$Language->t('delete_button')@}</a>
  </td>
</tr>
              