﻿html, body { height: 100%; font-family: 'Open Sans', sans-serif !important; font-size:13px; color:#565656; background-color: #f3f5f6;}
#wrap { min-height: 100%; height: auto; margin: 0 auto; padding: 0 0 0; }
.display-none{display: none;}

h1,h2,h3,h4,h5,h6,li { margin:0; padding:0; }
/*h1 { font-size:26px; font-weight:600; color:#FFF; }*/
/*h3 { font-size:18px; color:#191919; }*/
img { max-width:100%; }
ul { list-style:none; margin:0; padding:0; }

.text-dark-green { color:#436d0b; }
.text-green { color:#5ba221; }

.dash-con {background-color: #f6f9fa; border: 1px solid #f6f9fa;  -webkit-box-shadow: 0 0 5px 1px #e3e4e4; box-shadow: 0 0 5px 1px #e3e4e4; margin: 0 0 40px 0; overflow:hidden; }

.container-new {max-width:1660px !important;}
.container-new2 {max-width:1660px !important;}

.btn-green { font-size:13px; color:#FFF; padding:4px 10px; border:1px solid #53951d; -webkit-box-shadow:inset 0 1px 0 0 #aae54b; box-shadow:inset 0 1px 0 0 #aae54b; background: #8ac62c; background: -moz-linear-gradient(top, #8ac62c 0%, #62ab24 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac62c), color-stop(100%,#62ab24)); background: -webkit-linear-gradient(top, #8ac62c 0%,#62ab24 100%); background: -o-linear-gradient(top, #8ac62c 0%,#62ab24 100%); background: -ms-linear-gradient(top, #8ac62c 0%,#62ab24 100%); background: linear-gradient(to bottom, #8ac62c 0%,#62ab24 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac62c', endColorstr='#62ab24',GradientType=0 ); }
.btn-green:hover, .btn-green:focus { color:#FFF; text-decoration:none; background: #8ac62c; background: -moz-linear-gradient(top,  #8ac62c 0%, #539320 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ac62c), color-stop(100%,#539320)); background: -webkit-linear-gradient(top,  #8ac62c 0%,#539320 100%); background: -o-linear-gradient(top,  #8ac62c 0%,#539320 100%); background: -ms-linear-gradient(top,  #8ac62c 0%,#539320 100%); background: linear-gradient(to bottom,  #8ac62c 0%,#539320 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ac62c', endColorstr='#539320',GradientType=0 ); }
.btn-blue { font-size:13px; color:#FFF; padding:4px 10px; border:1px solid #5381ec; -webkit-box-shadow:inset 0 1px 0 0 #79E7FF; box-shadow:inset 0 1px 0 0 #79E7FF; background: #5ac7e0; background: -moz-linear-gradient(top,  #5ac7e0 0%, #3facde 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ac7e0), color-stop(100%,#3facde)); background: -webkit-linear-gradient(top,  #5ac7e0 0%,#3facde 100%); background: -o-linear-gradient(top,  #5ac7e0 0%,#3facde 100%); background: -ms-linear-gradient(top,  #5ac7e0 0%,#3facde 100%); background: linear-gradient(to bottom,  #5ac7e0 0%,#3facde 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ac7e0', endColorstr='#3facde',GradientType=0 ); }
.btn-blue:hover { background: #5ac7e0; background: -moz-linear-gradient(top,  #5ac7e0 0%, #358fb8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ac7e0), color-stop(100%,#358fb8)); background: -webkit-linear-gradient(top,  #5ac7e0 0%,#358fb8 100%); background: -o-linear-gradient(top,  #5ac7e0 0%,#358fb8 100%); background: -ms-linear-gradient(top,  #5ac7e0 0%,#358fb8 100%); background: linear-gradient(to bottom,  #5ac7e0 0%,#358fb8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ac7e0', endColorstr='#358fb8',GradientType=0 ); }

/*Header
/*=========================*/
/*#header { background-color:#24272E; height:74px; }*/

/*==== Header ====*/
.navbar-inverse { background: url('../images/bg-main-menu.jpg') repeat; border:none; }
.navbar-brand { position:relative; z-index:1; }
.navbar-collapse .navbar-nav > li > a { color:#8B8D90; font-size:16px; line-height:38px; }

.top-header { position: fixed; width: 100%; z-index:9999; background-color:transparent; padding:0; }
header { background-color:black; font-size:12px; }
.section-header { background-color:black; font-size:12px; padding:10px 0; }
header ul.header-right { float:right; margin:4px 0 0 0; }
header ul.header-right li { font-size:14px; display:inline-block; margin-left:16px; }
header ul.header-right li.call-us { color:#FFF; padding-top:6px; }
header ul.header-right li.call-us span { color:#00caff; }
header ul.header-right li.toll-contacts { color:#FFF; }
header ul.header-right li.toll-contacts img { margin-right:0; }
header ul.header-right li ul { margin-left:20px; }
header ul.header-right li.top-nav { margin:0; }
header ul.header-right li.top-nav li { border-right:1px solid #8B8D90; margin:0; padding:0 8px 0 6px; height:15px; line-height:15px; }
header ul.header-right li.top-nav li a { color:#8B8D90; }
header ul.header-right li.top-nav li a:hover { color:#FFF; }
header .our-service { margin-right:24px; }

/* - New Header - */
.container-new {max-width:1660px !important; font-family: 'Open Sans', sans-serif !important;}
.container-new2 {max-width:1660px !important; font-family: 'Open Sans', sans-serif !important;}

section.nav-section {background-color: #24272e; border-bottom: 4px solid #008bd1; padding:6px 0;}
.container-new ul > li {display: inline-block;   color:white; font-size:14px; margin-top: 11px; font-weight: 600;}
.container-new ul > li > a { color:white; font-size:14px;}
.container-new ul > li > a:hover {color:#2AB2EA;}
.purchase-ticker {background-color: white; margin:6px 0 5px 0; border-radius:2px;  padding: 6px 19px 10px 10px; width:319px; float:left;}
.purchase-ticker img {vertical-align:top;}
.notif-quantity { color:black; font-size:14px;}
.notif-text { color:black; font-size:10px; float:right;}
.notif-loc { color:black; font-size:10px; float:right;margin-top: -10px;}
.live-help {font-weight:600; padding-left: 75px; margin-top: 16px!important;}
/*.bg-cart {background: #88c42b; /* Old browsers */ background: -moz-linear-gradient(top,  #88c42b 0%, #67ae25 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88c42b), color-stop(100%,#67ae25)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #88c42b 0%,#67ae25 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #88c42b 0%,#67ae25 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #88c42b 0%,#67ae25 100%); /* IE10+ */
background: linear-gradient(to bottom,  #88c42b 0%,#67ae25 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c42b', endColorstr='#67ae25',GradientType=0 ); /* IE6-9 */ box-shadow: 0 1px 0 #aae54b inset; border-top: 1px solid #53951d;
padding:5px 10px 5px 10px;border-bottom: 1px solid #53951d; border-radius: 2px; margin-left: 15px; cursor: pointer;}
.bg-cart:hover {background: #6DCA41;}*/

.cart-dollsign { color:white; font-size:12px;}
.cart-price { color:white; font-size:14px;}
.cart-orders { color:white; border-radius: 15px; vertical-align: middle;}
.arrow-down {float: left;position: relative; top: 53px;right: 260px; border: white; margin-right: -50px;
margin-bottom: -3px;
margin-top: -5px;
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 11px solid #FFF;}


/*==== Navigation ====*/
.cust-served {line-height: 44px; margin-left: 40px; font-weight: 600; color:white; font-size:.75vw;}
ul.nav li.dropdown:hover > ul.dropdown-menu { display: block; z-index:999999;}/*Auto dropdown the menu*/
nav { background-color:#24272e;  }
.nav>li>a {padding:10px 0px !important; margin-top: -6px;}
nav .nav a { font-size: .9vw; color:white !important; border-left:1px solid #2f3239;}
nav .nav .dropdown-menu {  border:none; min-width:80px; margin-top: 6px; padding: 0 !important;}
nav .nav .dropdown-menu  a { color: black !important;  font-size: 12px; text-transform: uppercase; }
nav .nav li { color:white !important;  height:50px; line-height:42px; margin:0; text-align:center; background-color: #24272e; }
nav .nav li i { font-size:22px; margin-right:9px; }
nav .nav li ul { background-color:#FFF; border-radius:0;}
nav .nav li ul li { height:50px; line-height:30px; background-color:transparent; border-bottom:1px solid #dad9d9; padding:0; display: block; }
nav .nav li ul li a { line-height:42px; padding:4px 10px 3px 4px; border-left:none; }
nav .nav li a:hover { color:#FFF !important; }
nav .nav .caret { border-top-color:#313333; border-bottom-color:#313333; }
nav .nav li a:hover .caret,
nav .nav li:hover > a .caret,
nav .nav li > a.active .caret { border-bottom-color:#FFF !important; border-top-color:#FFF !important; }
nav .nav .dropdown .caret { margin-top:0; }
nav .nav .dropdown-menu > li > a:focus { background-color:transparent; }
.nav-pills > li > a { border-radius:0; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color:transparent; color:#313333; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { border-left:1px solid #dad9d9; color: white;}

/*==== Dropdown Customer Login ====*/
.custom-login-dropdown a,.custom-login-dropdown span.caret {color:#fff;}
.custom-login-dropdown span.caret {margin-top: 0 !important;border-top: 4px solid #fff;}
.custom-login-dropdown ul {background: #000;width: 100% !important; border-radius: 0 !important; border:none !important; padding: 11px 0 !important;}
.custom-login-dropdown ul li {display: block !important; margin-top: 0px;}
.custom-login-dropdown ul li a{text-align:left !important; color:#fff !important; display: block !important; padding: 10 5px 10 10px !important}
.custom-login-dropdown ul li a:hover{text-align:left !important; color:#000 !important; display: block !important; background:#fff !important;}

/*Facebook Navigation*/
nav .nav li.fb { width:9.70%; }
nav .nav li.fb ul { width:100%; }
nav .nav li.fb a img.icon-nav-fb { background: url("../images/nav-icons2.png") 4px -297px no-repeat; width:28px; height:21px; margin:0 0 -2px -8px; } /* Normal icon image nav */
nav .nav li.fb:hover > a img.icon-nav-fb,
nav .nav li.fb:hover li a:hover img.icon-nav-fb { background-position: 4px -318px; }/* Hover icon image nav */
nav .nav li.fb a:hover, nav .nav li.fb:hover > a,
nav .nav li.fb > a.active { background: #3b5998;}
nav .nav li.fb a.active img.icon-nav-fb { background-position:0 -316px; }/* Active icon image nav */

/*Instagram Navigation*/
nav .nav li.insta { width:9.70%; }
nav .nav li.insta ul { width:100%; }
nav .nav li.insta a img.icon-nav-insta { background: url("../images/nav-icons2.png") 4px -339px no-repeat; width:28px; height:21px; margin:0 0 -2px -8px; } /* Normal icon image nav */
nav .nav li.insta:hover > a img.icon-nav-insta,
nav .nav li.insta:hover li a:hover img.icon-nav-insta { background-position: 4px -360px; }/* Hover icon image nav */
nav .nav li.insta a:hover, nav .nav li.insta:hover > a,
nav .nav li.insta > a.active { background: #36658d;}
nav .nav li.insta a.active img.icon-nav-insta { background-position:0 -358px; }/* Active icon image nav */

/*Twitter Navigation*/
nav .nav li.twit { width:8.40%; }
nav .nav li.twit ul { width:100%;}
nav .nav li.twit a img.icon-nav-twit { background: url("../images/nav-icons2.png") 2px -1px no-repeat; width:28px; height:21px; margin:0 0 0 -8px; } /* Normal icon image nav */
nav .nav li.twit:hover > a img.icon-nav-twit,
nav .nav li.twit:hover li a:hover img.icon-nav-twit { background-position: 2px -22px; }/* Hover icon image nav */
nav .nav li.twit a:hover, nav .nav li.twit:hover > a,
nav .nav li.twit > a.active { color:#FFF; background: #2bb6eb; background: -moz-linear-gradient(top,  #2bb6eb 0%, #0291c7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2bb6eb), color-stop(100%,#0291c7)); background: -webkit-linear-gradient(top,  #2bb6eb 0%,#0291c7 100%); background: -o-linear-gradient(top,  #2bb6eb 0%,#0291c7 100%); background: -ms-linear-gradient(top,  #2bb6eb 0%,#0291c7 100%); background: linear-gradient(to bottom,  #2bb6eb 0%,#0291c7 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bb6eb', endColorstr='#0291c7',GradientType=0 ); }
nav .nav li.twit a.active img.icon-nav-twit { background-position:0 -22px; }/* Active icon image nav */

/*Youtube Navigation*/
nav .nav li.yt { width:9%; }
nav .nav li.yt ul { width:100%; }
nav .nav li.yt a img.icon-nav-yt { background: url("../images/nav-icons2.png") 0 -43px no-repeat; width:28px; height:21px; margin:0 2px 0 -2px; } /* Normal icon image nav */
nav .nav li.yt:hover > a img.icon-nav-yt,
nav .nav li.yt:hover li a:hover img.icon-nav-yt { background-position:0 -64px; }/* Hover icon image nav */
nav .nav li.yt a:hover, nav .nav li.yt:hover > a,
nav .nav li.yt > a.active { color:#FFF; background: #f95151; background: -moz-linear-gradient(top,  #f95151 0%, #cf2727 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f95151), color-stop(100%,#cf2727)); background: -webkit-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: -o-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: -ms-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: linear-gradient(to bottom,  #f95151 0%,#cf2727 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95151', endColorstr='#cf2727',GradientType=0 ); }
nav .nav li.yt a.active img.icon-nav-yt { background-position:0 -64px; }/* Active icon image nav */

/*Deals Navigation*/
nav .nav li.deals { width:10.75%; }
nav .nav li.deals span { font-size: 9px; font-weight: 600;  float: right; color: rgb(233, 63, 70); position: relative; top: -7px; left: -16px; }
nav .nav li.deals a {background-color: #ffc400;}
nav .nav li.deals a:hover,
nav .nav li li a.deals:hover,
nav .nav li li a.deals.active,
nav .nav li.deals a.active { background-color: #f9d55e; }


/*vimeo Navigation*/
nav .nav li.vimeo { width:9.70%; }
nav .nav li.vimeo img.icon-nav-vimeo { background: url("../images/nav-icons2.png") 0 -85px no-repeat; width:28px; height:21px; margin-bottom:6px; }
nav .nav li.vimeo:hover img.icon-nav-vimeo { background-position:0 -106px; }
nav .nav li.vimeo a:hover,
nav .nav li li a.vimeo:hover,
nav .nav li li a.vimeo.active,
nav .nav li.vimeo a.active { background: #76d1fe; background: -moz-linear-gradient(top,  #76d1fe 0%, #4da7d5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76d1fe), color-stop(100%,#4da7d5)); background: -webkit-linear-gradient(top,  #76d1fe 0%,#4da7d5 100%); background: -o-linear-gradient(top,  #76d1fe 0%,#4da7d5 100%); background: -ms-linear-gradient(top,  #76d1fe 0%,#4da7d5 100%); background: linear-gradient(to bottom,  #76d1fe 0%,#4da7d5 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76d1fe', endColorstr='#4da7d5',GradientType=0 ); }
nav .nav li a.active img.icon-nav-vimeo { background-position:0 -106px; }/* Active icon image nav */

/*SoundCloud Navigation*/
nav .nav li.sc { width:11%; }
nav .nav li.sc ul { width:100%; }
nav .nav li.sc a img.icon-nav-sc { background: url("../images/nav-icons2.png") 0 -127px no-repeat; width:28px; height:21px; margin:0 -1px 0 0; } /* Normal icon image nav */
nav .nav li.sc:hover > a img.icon-nav-sc,
nav .nav li.sc:hover li a:hover img.icon-nav-sc { background-position:0 -148px; }/* Hover icon image nav */
nav .nav li.sc a:hover, nav .nav li.sc:hover > a,
nav .nav li li a.sc:hover,
nav .nav li li a.sc.active,
nav .nav li.sc > a.active { color:#FFF; background: #fa883f; background: -moz-linear-gradient(top,  #fa883f 0%, #d15f16 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa883f), color-stop(100%,#d15f16)); background: -webkit-linear-gradient(top,  #fa883f 0%,#d15f16 100%); background: -o-linear-gradient(top,  #fa883f 0%,#d15f16 100%); background: -ms-linear-gradient(top,  #fa883f 0%,#d15f16 100%); background: linear-gradient(to bottom,  #fa883f 0%,#d15f16 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa883f', endColorstr='#d15f16',GradientType=0 ); }
nav .nav li a.active img.icon-nav-sc { background-position:0 -148px; }/* Hover icon image nav */

/*Pinterest Navigation*/
nav .nav li.pin { width:9%; }
nav .nav li.pin ul { width:100%; }
nav .nav li.pin a img.icon-nav-pin { background: url("../images/nav-icons2.png") 0 -169px no-repeat; width:28px; height:21px; margin:0 2px 0 0; } /* Normal icon image nav */
nav .nav li.pin:hover > a img.icon-nav-pin,
nav .nav li.pin:hover li a:hover img.icon-nav-pin { background-position:0 -190px; }/* Hover icon image nav */
nav .nav li.pin a:hover, nav .nav li.pin:hover > a,
nav .nav li li a.pin:hover,
nav .nav li li a.pin.active,
nav .nav li.pin > a.active { color:#FFF; background: #f95151; background: -moz-linear-gradient(top,  #f95151 0%, #cf2727 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f95151), olor-stop(100%,#cf2727)); background: -webkit-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: -o-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: -ms-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: linear-gradient(to bottom,  #f95151 0%,#cf2727 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95151', endColorstr='#cf2727',GradientType=0 ); }
nav .nav li a.active img.icon-nav-pin { background-position:0 -190px; }/* Active icon image nav */

/*Google Navigation*/
nav .nav li.google { width:9%; }
nav .nav li.google ul { width:100%; }
nav .nav li.google a img.icon-nav-google { background: url("../images/nav-icons2.png") 0 -211px no-repeat; width:28px; height:21px; margin:0 2px 6px 0; } /* Normal icon image nav */
nav .nav li.google:hover > a img.icon-nav-google,
nav .nav li.google:hover li a:hover img.icon-nav-google { background-position:0 -232px; }/* Hover icon image nav */
nav .nav li.google a:hover, nav .nav li.google:hover > a,
nav .nav li li a.google:hover,
nav .nav li li a.google.active,
nav .nav li.google > a.active { color:#FFF; background: #f95151; background: -moz-linear-gradient(top,  #f95151 0%, #cf2727 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f95151), olor-stop(100%,#cf2727)); background: -webkit-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: -o-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: -ms-linear-gradient(top,  #f95151 0%,#cf2727 100%); background: linear-gradient(to bottom,  #f95151 0%,#cf2727 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f95151', endColorstr='#cf2727',GradientType=0 ); }
nav .nav li a.active img.icon-nav-google { background-position:0 -232px; }/* Active icon image nav */

/*Tumblr Navigation*/
nav .nav li.tblr { width:8.75%; }
nav .nav li.tblr ul { width:100%; }
nav .nav li.tblr a img.icon-nav-tblr { background: url("../images/nav-icons2.png") 0 -379px no-repeat; width:28px; height:21px; margin-bottom:0; } /* Normal icon image nav */
nav .nav li.tblr:hover > a img.icon-nav-tblr,
nav .nav li.tblr:hover li a:hover img.icon-nav-tblr { background-position:0 -400px; }/* Hover icon image nav */
nav .nav li.tblr a:hover, nav .nav li.tblr:hover > a,
nav .nav li li a.tblr:hover,
nav .nav li li a.tblr.active,
nav .nav li.tblr a.active { color:#FFF; background: #5c8bb7; background: -moz-linear-gradient(top,  #5c8bb7 0%, #395875 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c8bb7), color-stop(100%,#395875)); background: -webkit-linear-gradient(top,  #5c8bb7 0%,#395875 100%); background: -o-linear-gradient(top,  #5c8bb7 0%,#395875 100%); background: -ms-linear-gradient(top,  #5c8bb7 0%,#395875 100%); background: linear-gradient(to bottom,  #5c8bb7 0%,#395875 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c8bb7', endColorstr='#395875',GradientType=0 ); }
nav .nav li a.active img.icon-nav-tblr { background-position:0 -274px; }/* Active icon image nav */

/*Vine Navigation*/
nav .nav li.vine { width:9.70%; }
nav .nav li.vine ul { width:100%; }
nav .nav li.vine a img.icon-nav-vine { background: url("../images/nav-icons2.png") 0 -253px no-repeat; width:28px; height:21px; margin-bottom:-2px; } /* Normal icon image nav */
nav .nav li.vine:hover > a img.icon-nav-vine,
nav .nav li.vine:hover li a:hover img.icon-nav-vine { background-position:0 -274px; }/* Hover icon image nav */
nav .nav li.vine a:hover, nav .nav li.vine:hover > a,
nav .nav li li a.vine:hover,
nav .nav li li a.vine.active,
nav .nav li.vine > a.active { color:#FFF; background: #00d39e; background: -moz-linear-gradient(top,  #00d39e 0%, #03b185 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00d39e), color-stop(100%,#03b185)); background: -webkit-linear-gradient(top,  #00d39e 0%,#03b185 100%); background: -o-linear-gradient(top,  #00d39e 0%,#03b185 100%); background: -ms-linear-gradient(top,  #00d39e 0%,#03b185 100%); background: linear-gradient(to bottom,  #00d39e 0%,#03b185 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d39e', endColorstr='#03b185',GradientType=0 ); }
nav .nav li.vine .active img.icon-nav-vine { background-position:0 -274px; }/* Active icon image nav */


/*More Navigation*/
nav .nav li.more { width:14.6%; }
nav .nav li.more > a{border-right:1px solid #2f3239 !important;  }
nav .nav li.more > a > i {margin-left: 10px; position: relative; top: 4px;}
nav .nav li.more ul { width:100%;}
nav .nav li.more a img.icon-nav-more { width:28px; height:21px; margin-bottom:-2px; } /* Normal icon image nav */
nav .nav li.more a img.more-dropdown-ico { width:28px; height:21px; margin-bottom:-2px; }
nav .nav li.more a:hover { background: #008bd1;}
nav .nav li ul.single li a { padding-left:20px; font-size:13px;}
nav .nav li ul.single li.title a { padding-left:16px; font-size:14px;  }
nav .nav li.more li a { font-size:.7vw; }
.icon-caret-down {color: #fff;vertical-align: middle;margin-left: 8px;}

nav .nav li li a.google:hover { background:#d95232; }
nav .nav li li a.vimeo:hover { background:#76d1fe !important; }
nav .nav li li a.vine:hover { background:#00d39e; }
nav .nav li li a.datpiff:hover { background:#000; }
nav .nav li li a.reverb:hover { background:#E43526; }
nav .nav li li a.social-media:hover { background:#019FB2; }
nav .nav li li a.share-graph:hover { background:#BC2CD6; }
nav .nav li li a.high-pr:hover { background:#FFB402; }
nav .nav li li a.video-seo:hover { background:#019FB2; }
nav .nav li li a.viddy:hover { background:#5c4175;}
nav .nav li li a.cinema:hover { background:#f47c26;}
nav .nav li li a.socialcam:hover { background:#cd3b3e;}
nav .nav li.more .active img.icon-nav-more { background-position:0 -301px; }/* Active icon image nav */

/*Sub Navigation*/

/*Mobile Nav*/
#mobile-nav { background: url('../images/bg-main-menu.jpg') repeat; font-size: 16px; font-weight: bold; color: #fff; padding:0 0 6px 0; }

#mobile-nav a.mbtn { background: center center no-repeat; background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC ); display: block; width: 40px; height: 40px; position: absolute; top: 5px; left: 10px; }
#mobile nav.friends { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==); }
#mobile-nav a.right { left: auto; right: 10px; }
.mobile-header { padding-top: 6px; }

.mobile-header li:nth-child(1) { float:left; }
.mobile-header li:nth-child(2), .mobile-header li:nth-child(3) { float:right; font-size:13px; }
.mobile-header li:nth-child(2) img { margin-bottom:4px; }

/**/
.toll-contacts ul { font-size:22px; color:#FFF; margin-top:11px; }
.toll-contacts ul li { display:inline-block; }
.toll-contacts ul li img { margin-top:-5px; }
/*.top-nav { font-size:16px; font-weight:normal; text-align:right; margin-top:14px; }
.top-nav li { display:inline-block; border-right: 1px solid #646464; line-height:20px; padding:0 12px; }
.top-nav li a { color:#8B8D90; }
.top-nav li a:hover { color:#FFF; }
/*Cart*/
.dropdown-menu { background-color:#1F242B; }
.cart { float:none; }
.live-help { font-size:16px; color:#FFF; }


.main-top-menu { float:right; }
.main-top-menu ul {
	list-style:none;
	margin:0 auto;
	}
.main-top-menu ul li {
	float:left;
	text-align:center;
	margin:0 1px;
	}
.main-top-menu ul li a {
	width:99px;
	height:41px;
	line-height:88px;
	display:block;
	color:#1A1D24;
	text-transform:uppercase;
	}
.main-top-menu ul li a:hover {
	color:#FFF;
	}
.main-top-menu ul li a.s2-home {
	background: url('../images/s6-bg-nav.png') 0 0 no-repeat;
	width:99px;
	height:61px;
	}
.main-top-menu ul li a.s2-home:hover,
.main-top-menu ul li a.s2-home.active {
	background: url('../images/s6-bg-nav.png') 0 -854px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-twitter {
	background: url('../images/s6-bg-nav.png') 0 0 no-repeat;
	width:99px;
	height:41px;
	color:#17a7d5;
	}
.main-top-menu ul li a.s2-twitter:hover,
.main-top-menu ul li a.s2-twitter.active {
	background: url('../images/s6-bg-nav.png') 0 -246px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.twit:hover{
	background: #22b6e4 !important;
	color:#FFF;
	}
.main-top-menu ul li a.s2-yt {
	background: url('../images/s6-bg-nav.png') 0 -41px no-repeat;
	width:99px;
	height:41px;
	color:#D83D3D;
	}
.main-top-menu ul li a.s2-yt:hover,
.main-top-menu ul li a.s2-yt.active {
	background: url('../images/s6-bg-nav.png') 0 -287px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-fb {
	background: url('../images/s6-bg-nav.png') 0 -82px no-repeat;
	width:99px;
	height:41px;
	color:#3f69ae;
	}
.main-top-menu ul li a.s2-fb:hover,
.main-top-menu ul li a.s2-fb.active {
	background: url('../images/s6-bg-nav.png') 0 -328px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-vimeo {
	background: url('../images/s6-bg-nav.png') 0 -123px no-repeat;
	width:99px;
	height:41px;
	color:#3D9FD5;
	}
.main-top-menu ul li a.s2-vimeo:hover,
.main-top-menu ul li a.s2-vimeo.active {
	background: url('../images/s6-bg-nav.png') 0 -369px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-ins {
	background: url('../images/s6-bg-nav.png') 0 -574px no-repeat;
	width:99px;
	height:41px;
	color:#3D9FD5;
	}
.main-top-menu ul li a.s2-ins:hover,
.main-top-menu ul li a.s2-ins.active {
	background: url('../images/s6-bg-nav.png') 0 -615px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-sc {
	background: url('../images/s6-bg-nav.png') 0 -164px no-repeat;
	width:99px;
	height:41px;
	color:#e46c37;
	}
.main-top-menu ul li a.s2-sc:hover,
.main-top-menu ul li a.s2-sc.active {
	background: url('../images/s6-bg-nav.png') 0 -410px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-tblr {
	background: url('../images/s6-bg-nav.png') 0 -205px no-repeat;
	width:99px;
	height:41px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-tblr:hover,
.main-top-menu ul li a.s2-tblr.active {
	background: url('../images/s6-bg-nav.png') 0 -451px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-pin {
	background: url('../images/s6-bg-nav.png') 0 -246px no-repeat;
	width:99px;
	height:41px;
	letter-spacing:-.5px;
	color:#f3454e;
	}
.main-top-menu ul li a.s2-pin:hover,
.main-top-menu ul li a.s2-pin.active {
	background: url('../images/s6-bg-nav.png') 0 -492px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-more{
	background: url('../images/s6-bg-nav.png') 0 -492px no-repeat;
	width:99px;
	height:41px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-more:hover,
.main-top-menu ul li a.s2-more.active {
	background: url('../images/s6-bg-nav.png') 0 -533px no-repeat;
	color:#FFF;
	}
.main-top-menu ul li a.s2-dp{
	background: url('../images/s6-bg-nav.png') 0 -656px no-repeat;
	width:99px;
	height:31px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-pi{
	background: url('../images/s6-bg-nav.png') 0 -820px no-repeat;
	width:99px;
	height:31px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-pi:hover{
	background: url('../images/s6-bg-nav.png') 0 -861px no-repeat;
	width:99px;
	height:31px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-dp:hover{
    background: url('../images/s6-bg-nav.png') 0 -698px no-repeat;
	width:99px;
	height:31px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-rn{
	background: url('../images/s6-bg-nav.png') 0 -738px no-repeat;
	width:99px;
	height:31px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.s2-rn:hover{
	background: url('../images/s6-bg-nav.png') 0 -780px no-repeat;
	width:99px;
	height:31px;
	color:#6b9ac5;
	}
.main-top-menu ul li a.datpiff-dp:hover{
	background: #49494a;
	}
.main-top-menu ul li a.reverbnation-dp:hover{
	background: #e43526;
	}
/**/

/*Footer*/
.bg-footer { background: url("../images/bg-black.jpg") #222221 repeat; position:relative; margin:0; padding-top:35px; font-family: 'Open Sans', sans-serif !important;}
.footer { font-family: normal !important;font-family: 'Open Sans', sans-serif !important; color:#7c8594; padding-bottom:20px; text-align: left;}
.footer a {text-decoration: none;}
.footer li { padding:3px 4px; display:inline-block; }
.footer li a { color:#7c8594; font-size:13px; }
.footer-ul1 li span , .footer-ul2 li span{ margin-left: 6px; }
.footer-ul1 li a , .footer-ul2 li a{ text-decoration: none; }
.footer li a:hover { color:#8FCCF4; }
.footer img { margin-bottom:8px; }
.footer p { color:#7c8594; font-size:12px; }
.footer  a { color:#7c8594; font-size:12px; }
.footer  a:hover { color:#8FCCF4; }
.ta-cert {text-align: right;}
.footer2 { font-family: normal !important; font-family: 'Open Sans', sans-serif !important; font-size: 12px; color:#7c8594; padding-bottom:20px; text-align: center; border-top:1px solid #353c44; margin:20px 0px 0 0px; padding:20px 0 0 0}
.footer2  a { color:#7c8594; font-size:12px; }
.footer2  a:hover { color:#8FCCF4; }
.footer2  img { vertical-align:top; }
.footer2 ul li { display: inline-block; }

/*Sidebar
/*=========================*/
.sidebar { background:url('../images/bg-sidebar.jpg') #FFF center top repeat-x; -webkit-box-shadow: 1px 0 5px 1px #e3e4e4; box-shadow: 1px 0 5px 1px #e3e4e4; /* border: 1px solid #f2f4f5; */ margin-bottom:-9999px; padding-bottom:9999px; }
.sidebar .logo { text-align:center; padding:14px 0 0 0; }
.sidebar .logo h1{ color: #fff; }
.sidebar .logo span { font-size:15px; display:block; color:#FFF; }
.sidebar .logo img { margin:10px 0 14px 0; }
.sidebar .user-email { font-size:13px; color:#24272e; text-align:center; margin-bottom:20px; }
.sidebar .funds { border-top:1px solid #e1e4e5; border-bottom:1px solid #e1e4e5; padding:16px 20px; }
.sidebar .funds span {font-weight: 600; font-size: 14px;}
.sidebar .funds ul li:first-child { font-size:15px; font-weight:600; color:#191919; }
.sidebar .menu a {display: block; padding: 10px 15px; font-size: 15px; color: #737373; border-bottom: 1px solid #e1e4e5;}
.sidebar .menu a:hover {text-decoration: none; color: #000; background-color: #f6f9fa;}
.sidebar .menu a.active {color: #000; background-color: #f6f9fa;}
.sidebar .menu  span.img-circle {color: #fff; background: #66ae25; width:25px; height: 25px; margin-top: -1px;text-align: center; font-size: 14px;line-height: 24px;}
.sidebar .menu a span, .sidebar .menu a i { padding-right: 10px; }
.sidebar .menu a span.badge { padding:2px 8px; line-height: inherit; background-color:#66ae25; }
.sidebar .feedback { font-size:15px; font-weight:600; color:#747070; padding:10px 20px; }
.sidebar .feedback label { font-weight:400; padding-bottom:2px; }
.sidebar .feedback textarea { background-color:#F6F9FA; border:1px solid #E2E4E4; }
.sidebar .feedback button { width:100%; font-size:15px; font-weight:600;  }



.content { background-color:#FFF; padding:30px; border: 1px solid #f2f4f5; margin-bottom:-9999px; padding-bottom:9999px; }
.content .promo-bar { background-color:#e2fac2; margin-bottom:10px; padding:24px; min-height:129px; }
.content .promo-bar p { margin:0 0 9px 0; font-size:14px; font-weight:300; color:#000; }
.content .promo-bar p strong { font-size:15px; font-weight:600; color:#436d0b; }
.content .promo-bar p span { color:#ff0000; }
.content .promo-bar p a { color:#5ba221; }
.content .promo-bar p a:hover { color:#5381ec; }
.content .home-reward { background-color:#ffc400; margin-bottom:10px; padding:18px 24px 5px; text-align:center; }
.content .home-reward img { position: relative; top: -35px;}
.content .home-reward p { font-size:12px; color:#fff; font-weight: bold; }
.content .home-reward p span { color:#000; }
.content .home-reward p strong { font-size:15px; font-weight:600; color:#000; }
.content .home-reward .progress { height:15px; margin-bottom:12px; border:1px solid #d2d3d3; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.content .home-orders { font-size:13px; font-weight:300; color:#47494a; }
.content .home-orders table thead th { font-size:12px; font-weight:600; color:#797e80; border-bottom-width:1px;  }
.content .home-orders table th, .content .home-orders table td { padding:12px 8px; border-color:#eaedee; }
.content .home-orders .table-bordered { border-color:#eaedee; }
.content .home-orders .table-bordered i {float: right; margin-top: 2px;}
.content .home-orders a { color:#5381ec; }
.content .home-orders .title-search { background-color:#F6F9FA; padding:14px 8px; border:1px solid #eaedee; border-bottom:none; overflow:hidden; }
.content .home-orders .title-search ul li { display:inline-block; }
.content .home-orders .title-search ul li:first-child { float:left; font-size:18px; font-weight:400; color:#24272e; line-height:32px; }
.content .home-orders .title-search ul li:last-child { float:right; text-align:right; }
.content .home-orders .title-search ul li:last-child .search { border:1px solid #dddbdb; }
.content .home-orders .title-search ul li:last-child .search input,
.content .home-orders .title-search ul li:last-child .search button { border:none; box-shadow:none; }
.content .home-orders .title-search ul li:last-child .search button:hover,
.content .home-orders .title-search ul li:last-child .search button:focus { background:#FFF; }
.content .home-orders .title-search ul li:last-child i { font-size:14px; color:#585858; }
.content .home-orders .title-search .search { width: 260px; }
.content .home-orders .orders-pagination { padding:8px 0 6px 0; text-align:center; }
.content .home-orders .orders-pagination .pagination { margin:0; }
.content .home-orders .pagination-sm > li > a { margin:0 2px; }
.content .home-orders .pagination-sm > li > a, .pagination-sm > li > span { font-size: 12px; color:#000; padding: 0 6px; border-radius: 16px !important; }
.content .home-orders .pagination-sm > li > a:hover, .pagination-sm > li > span:hover,
.content .home-orders .pagination-sm > li > a.active, .pagination-sm > li > span.active { background-color:#5bc0de; }
.content .home-orders .pagination-sm > li:first-child > a,
.content .home-orders .pagination-sm > li:first-child > span,
.content .home-orders .pagination-sm > li:last-child > a,
.content .home-orders .pagination-sm > li:last-child > span { line-height:10px; padding: 2px 7px 5px !important; }

.services { text-align:center; margin:50px 0; }
.services div { margin-bottom:20px; }
.services a { border:1px solid #e1e4e5; display:block; margin-bottom:20px; padding:20px 0 14px 0; }
.services a:hover { background-color:#E6EFF2; }
.services img { width:96px; height:90px; }

.services ul { margin:0; padding:0 6px; text-align:center; }
.services ul li { margin-bottom:16px; }
.services ul li:first-child { margin-bottom:6px; height:90px; }
/* .services ul li div { background: url('../images/co3-caret.png') #F4F5F1 90% center no-repeat; border:1px solid #cbcbcb; overflow:hidden; } */
.services ul li select { background: url("../images/caret.png") #F6F9FA 96% center no-repeat; font-size:13px; border: 1px solid #CBCBCB; padding:5px 8px; width:100%; appearance: none; -moz-appearance:none; -webkit-appearance:none; text-indent: 0.01px; text-overflow: ''; }
.services ul li select::-ms-expand { display: none; }
.services ul li button { font-size:13px; width:100%; padding:6px 0; }
.services ul li button span { margin-right:4px; font-size:12px; }

.testimonials { background-color:#517de5; padding:40px 0; text-align:center; }
.testimonials h3 { font-size:30px; font-weight:300; color:#FFF; margin-bottom:30px; }
.testimonials h4 { font-size:17px; font-weight:600; color:#FFF; }
.testimonials img { margin-bottom:24px; }
.testimonials p.address { font-size:14px; font-weight:600; color:#FFF; margin-bottom:20px; }
.testimonials p { font-size:15px; color:#FFF; }

.footer { background: url("../images/bg-black.jpg") #222221 repeat; }

.mb-0 { margin-bottom:0px !important; }

.mb-2 { margin-bottom:2px !important; }
.mb-10 { margin-bottom:10px !important; }
.mb-20 { margin-bottom:20px !important; }
.mb-30 { margin-bottom:30px !important; }
.mb-40 { margin-bottom:40px !important; }
.mb-50 { margin-bottom:50px !important; }
.mb-60 { margin-bottom:60px !important; }
.mb-70 { margin-bottom:70px !important; }
.mb-80 { margin-bottom:80px !important; }
.mb-90 { margin-bottom:90px !important; }
.mb-100 { margin-bottom:100px !important; }
.mb-261 { margin-bottom:261px !important; }
.mb-441 { margin-bottom:441px !important; }

.ml-10 {margin-left: 10px;}
.mt-0 {margin-top: 0px;}

.pt-20 { padding-top:20px !important; }
.pt-30 { padding-top:30px !important; }
.pt-5 { padding-top:5px; }
.pt-6 { padding-top:6px !important; }
.pt-7 { padding-top:7px; }
.pt-8 { padding-top:8px; }
.pt-3 { padding-top:3px; }
.pt-10 { padding-top:10px !important; }
.pt-17 { padding-top:17px !important; }
.pt-18 { padding-top:18px !important; }
.pt-12 { padding-top:12px !important; }
.pt-40 { padding-top:40px; }
.pt-60 { padding-top:60px; }
.pt-50 { padding-top:50px; }
.pt-70 { padding-top:70px; }

.pb-4{ padding-bottom: 4px !important;}
.pb-20 { padding-bottom:20px !important; }
.pb-30 { padding-bottom:30px !important; }

.pl-0 {padding-left: 0 !important;}

.fs-14 { font-size:14px; }
.border-radius-0 { -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
.border-radius-2 { -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.bd-top { border-top:1px solid #C8CACB; }

/*Account Page
/*=========================*/
.content .h3-wrapper { border-bottom:1px solid #c8cacb; padding:0 0 20px 0; }
.content .notification-con-pass { border-right: 1px solid #c8cacb; }
.content .form-changepass { padding: 0 60px 20px 5px; }
.content .form-changepass { font-size: 16px; }
.content .form-changepass input{ border-radius: 0; }
.content .form-changepass-button { border-right: 1px solid #c8cacb; padding: 30px 0; }
.content .form-changepass-button button{ padding: 10px 60px; font-weight: 600px; font-size: 16px; }
.content .desc {padding: 0 0 0 30px;}
.content .desc h4 {margin-bottom: 10px; color: #527ee8;}
.content .desc p {font-size: 15px; font-weight: normal; text-align: left;}

/*Help Page
/*=========================*/
.custom-content .col-md-6 {padding-right: 0 !important;}
.custom-content .col-md-4 {padding-left: 0 !important;}
.content .form-question { padding: 0 60px 22px 5px; border-right: 1px solid #c8cacb; border-left: 0; border-top: 0; }
.content .form-question p {font-size: 16px; font-weight: normal; margin-bottom: 46px;}
.content .form-question .contact-customized-input {border:1px solid #d3d6da; padding: 5px 0 5px 10px; margin-bottom: 20px;}
.content .form-question .contact-customized-input span, .content .form-question  .contact-customized-input i {margin-left: 5px; color:#ced2d3;}
.content .form-question input { width: 90%; display: inline-block;font-size: 15px;border: 0;outline: none !important;box-shadow: none !important;}
.content .form-question-button {padding: 30px 60px 50px 5px;}
.content .form-question-button button{ padding: 10px 60px; font-weight: 600; font-size: 16px; }
.content .desc-question { width:80%; padding:0 0 0 32px; }
.content .desc-question .contact-info {border: 1px solid #cbcdce; padding: 18px 24px;}
.content .desc-question .contact-info ul li{font-size: 14px; font-weight: 400; padding: 5px 0;}
.content .desc-question .contact-info ul li i {color: #527ee8; padding: 5px 0;}
.content .desc-question h4 {margin-bottom: 10px; color: #527ee8;}
.content .desc-question p {font-size: 15px; font-weight: normal; text-align: left;}

/*Orders Page
/*=========================*/
.content .activities {border:1px solid #c8cacb;text-align: center; height: 125px; padding: 20px 10px;}
.content .activities h4 {font-size: 54px; font-weight: 300; margin-bottom: 10px; color: #527ee8; }
.content .activities p {font-size: 14px; font-weight: 300; color: #4e4f51;}
.content .activities h4 span {font-size: 24px; font-weight: 400px; position: relative; top: -22px;}
.content .referral-update {background: #f6f9fa; padding:25px; }
.content .referral-update ul li{ font-size:12px; font-weight:300; font-style: italic; color: #9f9f9f; padding: 12px 0; border-bottom: 1px solid #dfe3e4;}
.content .referral-update ul li span{ color: #7896dd;}
.content .referral-update ul li .date { float: right; color: #9f9f9f;}
.content .referral-update ul li:nth-child(1) {font-size: 16px;color: #191919; font-style: normal; border-top: none !important; }

/*Refer A Friend Page
/*=========================*/
.custom-content .col-md-6 { padding-right: 0 !important; }
.custom-content .col-md-4 { padding-left: 0 !important; }
.content .refer-friend { padding: 0 60px 40px 5px; border-right: 1px solid #c8cacb; border-left: 0; border-top: 0; }
.content .refer-friend input { width: 90%; display: inline-block;font-size: 15px;border: 0;outline: none !important;box-shadow: none !important; }
.content .refer-friend .contact-customized-input { border:1px solid #d3d6da; padding: 5px 0 5px 10px; margin-bottom: 20px; }
.content .refer-friend .contact-customized-input span, .content .refer-friend .contact-customized-input i { margin-left: 5px; color:#ced2d3; }
.content .refer-friend > h4 { font-weight: normal; }
.content .refer-friend > p { font-weight: 300; }
.content .letter-friend { border:1px solid #e2e3e3; padding: 15px 15px 30px ; color:#8B8B8B; }

/*Refer A Friend Page
/*=========================*/
.content .latest-update {background: #e2fac2; padding: 20px 15px;}
.content .latest-update p em {color: #b4b5b3;}
.content .update {background: #f6f9fa; padding: 20px 15px;}
.content .update p em {color: #b4b5b3;}
.content .latest-update p, .content .update p {font-size: 14px; font-weight:normal; }
.content .orders-pagination { padding:8px 0 6px 0; text-align:center; }
.content .orders-pagination .pagination { margin:0; }
.content .pagination-sm > li > a { margin:0 2px; }
.content .pagination-sm > li > a, .pagination-sm > li > span { font-size: 12px; color:#000; padding: 0 6px; border-radius: 16px; }
.content .pagination-sm > li > a:hover, .pagination-sm > li > span:hover,
.content .pagination-sm > li > a.active, .pagination-sm > li > span.active { background-color:#5bc0de; }

/*Funds Page
/*=========================*/
.funds-container .popular-amounts { text-align:center; margin-bottom:40px; box-shadow: 0 1px 2px #c6c6c6; -webkit-box-shadow: 0 1px 2px #c6c6c6;-moz-box-shadow: 0 1px 2px #c6c6c6; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; }
.funds-container .popular-amounts.active {border: 2px solid #66ae25;}
.funds-container .popular-amounts a { text-decoration:none; }
.funds-container .popular-amounts .desc { font-size:21px; color:#323232; margin:0; padding:10px 0; }
.funds-container .popular-amounts .desc img { margin-bottom:4px; }
.funds-container .popular-amounts .price { background-color:#F6F9FA; font-size:55px; font-weight:600; color:#323232; margin:0; padding:10px 0; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.funds-container .popular-amounts .price .dollar-sign { font-size:26px; position:relative; top:-20px; }
.funds-container .another-amount button { background-color:#F6F9FA; text-align:left; width:176px; position:relative; padding:8px 10px; }
.funds-container .another-amount .dropdown-menu { padding:0; min-width:176px; background-color:#FFF; }
.funds-container .another-amount .caret { position:absolute; top:15px; right:10px; }
.funds-container .total-holder .total-title { font-size:18px;  line-height:53px; text-align:right; }
.funds-container .total-holder .total { background-color:#EEF1F2; font-size:40px; color:#323232; font-weight:600; text-align:center; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; }
.funds-container .total-holder .total span.total-amount { font-size:35px; padding-right:2px; }
.funds-container .total-holder .total span.total-dolsign {font-size: 18px; position: relative; top: -12px;}
.funds-container button[type="submit"] { font-size:20px; padding:10px 20px; }

.all-transaction{border: 0 !important; background: none; padding-bottom: 3px !important; border-bottom: 1px solid #428bca !important; margin-top: -20px !important;}
.all-transaction:hover{text-decoration: none !important; border: 0 !important; background: none !important;  padding-bottom: 3px !important; border-bottom: 1px solid #428bca !important; margin-top: -20px !important;}