﻿@-webkit-keyframes scalex{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}
}

@-webkit-keyframes scalexx{
    from {-webkit-transform: scale(0.9);}
    65% {-webkit-transform: scale(1.0);}
    to {-webkit-transform: scale(0.9);}
}

@-moz-keyframes scale{
    from {-moz-transform: scale(0.9);}
    65% {-moz-transform: scale(1.0);}
    to {-moz-transform: scale(0.9);}
}

.theme-pokemon {
	position: relative;
	background: url("../images/themes/pokemon/bg-pokemon.png") no-repeat #81CEE2;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: bottom center;
}
.theme-pokemon .home-pack:before,
.theme-pokemon .home-pack:after {
	width: 96px;
	height: 95px;
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
}
.theme-pokemon .home-pack:before {
	background: url("../images/themes/pokemon/img-pokeball-1.png") no-repeat;
	top: -15px;
	left: 400px;

	-webkit-animation-name: scalex;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:1.5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
.theme-pokemon .home-pack:after {
	background: url("../images/themes/pokemon/img-pokeball-2.png") no-repeat;
	top: -5px;
	right: 400px;

	-webkit-animation-name: scalexx;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
.theme-pokemon > .services-pack{
	background: none;
	z-index: 2;
}
.theme-pokemon .heading-title h1{
	font-weight: 700;
}

/* ----------------------------------------------------------------------
    Media Queries
    --------------------------------------------------------------------*/
    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1680px) {

		.theme-pokemon {
			-webkit-background-size: contain;
			background-size: contain;
		}
		.theme-pokemon .home-pack:before {
			left: 270px;
		}
		.theme-pokemon .home-pack:after {
			right: 270px;
		}

    }
    @media only screen and (max-width : 1460px) {

    	.theme-pokemon .home-pack:before {
			left: 160px;
		}
		.theme-pokemon .home-pack:after {
			right: 160px;
		}

    }

    @media only screen and (max-width : 1366px) {

    	.theme-pokemon .home-pack:before {
			left: 130px;
		}
		.theme-pokemon .home-pack:after {
			right: 130px;
		}

    }

    @media only screen and (max-width : 1280px) {

    	.theme-pokemon .home-pack:before {
			left: 80px;
		}
		.theme-pokemon .home-pack:after {
			right: 80px;
		}

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 1199px) {

		.theme-pokemon .home-pack:before,
		.theme-pokemon .home-pack:after {
			-webkit-background-size: 70px;
			background-size: 70px;
			width: 70px;
			height: 70px;
		}
		.theme-pokemon .home-pack:before {
			left: 35px;
			top: 5px;
		}
		.theme-pokemon .home-pack:after {
			right: 35px;
			top: 10px;
		}

    }

    @media only screen and (max-width : 991px) {

    	.theme-pokemon .home-pack:before {
    		left: 0;
    	}
    	.theme-pokemon .home-pack:after {
    		right: 0;
    	}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {

    	.theme-pokemon .home-pack:before,
		.theme-pokemon .home-pack:after {
			-webkit-background-size: 50px;
			background-size: 50px;
			width: 50px;
			height: 50px;
		}
		.theme-pokemon .home-pack:before {
			top: -10px;
		}
		.theme-pokemon .home-pack:after {
			top: -15px;
		}

    }

    @media only screen and (max-width : 639px) {

    	.theme-pokemon .home-pack:before,
		.theme-pokemon .home-pack:after {
			-webkit-background-size: 35px;
			background-size: 35px;
			width: 35px;
			height: 35px;
			top: -25px;
		}
		.theme-pokemon .home-pack:before {
			left: 5px;
		}
		.theme-pokemon .home-pack:after {
			right: 5px;
		}

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {

    }