﻿<?php (!defined('CreativeX')) ? exit() : ""; ?>
<tr>
	<td>{@$Npromotion->id@}</td>
	<td>{@$Npromotion->name@}</td>
	<td>{@$Npromotion->discount@}</td>
	<td>{@$Npromotion->create_by@}</td>
	<td>{@$Npromotion->create_at@}</td>
	<td>{@$Npromotion->modified_by@}</td>
	<td>{@$Npromotion->modifed_at@}</td>

	<td>
      <a class="btn btn-info" href="{@$App::LIVE_URL_ADMIN@}Npromotion/edit/{@$Npromotion->id@}">{@$Language->t('edit_button')@}</a>
      <a class="btn btn-danger" onclick="actionDelete('Npromotion/delete',{@$Npromotion->id@});">{@$Language->t('delete_button')@}</a>
  </td>
</tr>
              