﻿<?php (!defined('CreativeX')) ? exit() : ""; ?>
<tr>
	<td>{@$Sprofile->id@}</td>
	<td>{@$Sprofile->id_city@}</td>
	<td>{@$Sprofile->id_country@}</td>
	<td>{@$Sprofile->name@}</td>
	<td>{@$Sprofile->skill@}</td>
	<td>{@$Sprofile->language@}</td>

	<td>
      <a class="btn btn-info" href="{@$App::LIVE_URL_ADMIN@}Sprofile/edit/{@$Sprofile->id@}">{@$Language->t('edit_button')@}</a>
      <a class="btn btn-danger" onclick="actionDelete('Sprofile/delete',{@$Sprofile->id@});">{@$Language->t('delete_button')@}</a>
  </td>
</tr>
              