﻿<?php (!defined('CreativeX')) ? exit() : ""; ?>
<tr>
	<td>{@$Suser->id@}</td>
	<td>{@$Suser->id_group@}</td>
	<td>{@$Suser->id_profile@}</td>
	<td>{@$Suser->username@}</td>
	<td>{@$Suser->password@}</td>
	<td>{@$Suser->email@}</td>
	<td>{@$Suser->active@}</td>
	<td>{@$Suser->reload_permisions@}</td>

	<td>
      <a class="btn btn-info" href="{@$App::LIVE_URL_ADMIN@}Suser/edit/{@$Suser->id@}">{@$Language->t('edit_button')@}</a>
      <a class="btn btn-danger" onclick="actionDelete('Suser/delete',{@$Suser->id@});">{@$Language->t('delete_button')@}</a>
  </td>
</tr>
              