﻿<?php (!defined('CreativeX')) ? exit() : ""; ?>
<tr>
TD_ITEM
	<td>
      <a class="btn btn-info" href="{@$App::LIVE_URL_ADMIN@}MODEL/edit/{@$MODEL->PRIMARY@}">{@$Language->t('edit_button')@}</a>
      <a class="btn btn-danger" onclick="actionDelete('MODEL/delete',{@$MODEL->PRIMARY@});">{@$Language->t('delete_button')@}</a>
  </td>
</tr>
              